.App {
    margin: 0 2%;
    width: 100%;
}
.App-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.App-header img {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}
.RecipeList {
    width: 25%;
    float: left;
}
.RecipeListPages {
    display: inline-block;
}