.App {
    margin: 0 2%;
    width: 100%;
}
.App-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.App-header img {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}
.RecipeList {
    width: 30%;
    float: left;
}
.RecipeListPages {
    width: 100%;
    display: inline-block;
}
.RecipeDisplay {
    width: 65%;
    float: left;
    margin-left: 2em;
}