body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #f0f8ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #61dafb;
}
a:hover,
a:active {
  color: #ff7f50;
}

.loading svg {
  width: 50px;
  height: 50px;
  fill: #ff7f50;
  transform-origin: 44% 50%;
  animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); }
}

.btn-inline {
  border: none;
  border-radius: 10px;
  color: #f0f8ff;
  background-color: #ff7f50;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn-inline:focus {
  outline: none;
}
.btn-inline svg {
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
}
.btn-inline span {
  margin: 0 .5rem;
}
.results__btn--prev {
  float: left;
}
.results__btn--next {
  float: right;
}

.RecipeDisplay h1 {
  margin: 0;
}
.RecipeDisplay img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 20px;
  margin-left: 2em;
  display: block;
  float: right;
  box-shadow: 2px 2px 2px #f0f8ff7a;
}