.RecipeItem {
    width: 30%;
    height: 80px;
    margin-right: 1em;
    float: left;
    overflow: hidden;
}
.RecipeItem figure {
    margin: 0;
    margin-right: 1em;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    float: left;
}
.RecipeItem img {
    width: 100%;
    height: auto;
    transform: scale(2);
}
.RecipeItem h1 {
    font-size: 1em;
    margin: 0;
}
.RecipeItem p {
    margin: 0;
}