.RecipeItem {
    width: 30%;
    float: left;
}
.RecipeItem figure {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    float: left;
}
.RecipeItem img {
    width: 100%;
    height: auto;
    transform: scale(2);
}